<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LiftVault-AddLift</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add Lift</h1>
	<div class="col-md-4">
		<form th:object="${liftform}" th:action="@{/saveLift/{id}(id=${liftform.workout.getId()})}" action="#" method="post">
		  	<label for="liftType">Lift Type (Other is for not Powerlifting lifts. You can specify more in Variation and Notes)</label>
		  	<select th:field="*{liftType}">
				<option th:value="'Squat'" th:text="Squat"></option>
				<option th:value="'Bench'" th:text="Bench"></option>
				<option th:value="'Deadlift'" th:text="Deadlift"></option>
				<option th:value="'Other'" th:text="Other"></option>
			</select>
			<div></div>
		  	<label for="notes">Variation and notes (equipment used etc.)</label>
			<input type="text" id="notes" th:field="*{notes}" class="form-control"/>
			<div></div>
		  	<label for="sets">Sets (number of sets performed)</label>
			<input type="text" id="sets" th:field="*{sets}" class="form-control"/>
			<div></div>
			<label for="reps">Reps (number of repetitions performed per set)</label>
			<input type="text" id="reps" th:field="*{reps}" class="form-control"/>
			<div></div>
			<label for="weight">Weight (weight lifted in kilograms)</label>
			<input type="text" id="weight" th:field="*{weight}" class="form-control"/>
			<div></div>
			<input type="hidden" id="workout" th:field="*{workout}"/>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
	</div>
</body>
</html>