<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5%22%3E">
	<head>
	    <title>PowerliftingVault-AddNews</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
	    		<h1 class="navbar-brand">PowerliftingVault</h1>
	    		<div class="navbar-nav">
	    			<a th:href="@{/home}" class="nav-item nav-link">Home</a>
	        		<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/allusers}" class="nav-item nav-link active">All Users</a>
	        		<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/addnews}" class="nav-item nav-link">Add News</a>
	        		<form th:action="@{/logout}" method="post">
	            		<input type="submit" value="Sign Out" class="nav-item nav-link"/>
	        		</form>
	    		</div>	
    		</nav>
			<h3>Add News</h3>
			<div class="col">
				<form th:object="${newsform}" th:action="@{/savenews}" action="#" method="post" id="newsform">
					<input type="submit" value="Save" class="btn btn-outline-success btn-sm"></input>
					<a th:href="@{/home}" class="btn btn-outline-danger btn-sm">Cancel</a>
					<div style="clear: both; display: block; height: 10px;"></div>
				  	<label for="header">Header</label>
					<input type="text" id="header" th:field="*{header}" class="form-control"/>
				</form>
				
				<div style="clear: both; display: block; height: 10px;"></div>
				
				<label for="chapter1">Chapter1 (max: 255 character including white space)
					<textarea rows="5" cols="100" name="chapter1" form="newsform" id="chapter1" th:field="*{newsform.chapter1}"></textarea>
				</label>
				<label for="chapter2">Chapter2 (max: 255 character including white space)
					<textarea rows="5" cols="100" name="chapter2" form="newsform" id="chapter2" th:field="*{newsform.chapter2}"></textarea>
				</label>
				<label for="chapter3">Chapter3 (max: 255 character including white space)
					<textarea rows="5" cols="100" name="chapter3" form="newsform" id="chapter3" th:field="*{newsform.chapter3}"></textarea>
				</label>
				<label for="chapter4">Chapter4 (max: 255 character including white space)
					<textarea rows="5" cols="100" name="chapter4" form="newsform" id="chapter4" th:field="*{newsform.chapter4}"></textarea>
				</label>
				
			</div>
		</div>
		
	</body>
</html>