<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5%22%3E">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>PowerLiftingVault-InvalidProfileName</title>
        <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    </head>
    <body>
    	<div class="container">
		    <div style="padding: 350px">
		    	<h1>Invalid profile name!</h1>
		    	<a th:href="@{/home}" class="btn btn-outline-info btn-sm">Back to home page</a>
		    </div>
    	</div>
    </body>
</html>