<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5%22%3E">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Lifter Profile</title>
        <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    </head>
    <body>
    <div class="container">
    
    	<nav class="navbar navbar-expand-lg navbar-light bg-light">
    		<h1 class="navbar-brand">Profile: [[${#httpServletRequest.remoteUser}]]</h1>
    		<div class="navbar-nav">
    			<a th:href="@{/edituser/{username}(username=${user.username})}" class="nav-item nav-link">Edit user</a>
    			<a th:href="@{/alllifts}" 
            		class="nav-item nav-link">Back to Front Page</a>
            	<form th:action="@{/logout}" method="post">
            		<input type="submit" value="Sign Out" class="nav-item nav-link"/>
        		</form>
    		</div>	
    	</nav>
        
        <div class="row mx-md-n5">
        	<div class="col px-md-5">
        		<h3>[[${#httpServletRequest.remoteUser}]] stats</h3>
        		<table class="table table-stripped">
        			<tr>
        				<th>Weight</th>
        				<th>Height</th>
        			</tr>
        			<tr>
        				<td th:text="${user.weight}+kg"></td>
        				<td th:text="${user.height}+cm"></td>
        			</tr>
        		</table>
        	</div>
        	
        	<div class="col px-md-5">
        		<h3>Workouts</h3>
        		<table class="table table-stripped">
					<tr>
						<th>Workout Date</th>
						<th>Workout Lifts</th>
					</tr>
					<tr th:each = "workout : ${workouts}">
						<td th:text="${workout.date}"></td>
						<td><a th:href="@{/workout/{id}(id=${workout.id})}">Show/Add/Edit Lifts</a></td>
						<td><a th:href="@{/deleteworkout/{id}(id=${workout.id})}" class="btn btn-danger">Delete workout</a></td>
					</tr>
				</table>
				
				<form th:object="${workoutform}" th:action="@{/saveworkout}" action="#" method="post">
    				<label for="date">Date (Format: dd.mm.yyyy)
    					<input type="text" id="date" th:field="*{date}" class="form-control"/>
    					<input type="hidden" id="user" th:field="*{user}" class="form-control" th:value="${user}"/>
    				</label>
					<input type="submit" value="Add workout" class="btn btn-link"></input>
    			</form>
        	</div>

        </div>
		
        <div style="clear: both; display: block; height: 30px;"></div>
        
    </div>

    </body>
</html>