<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5%22%3E">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>PowerliftingVault-Workout</title>
        <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    </head>
    <body>
    <div class="container">
    	<nav class="navbar navbar-expand-lg navbar-light bg-light">
    		<h1 class="navbar-brand">PowerliftingVault</h1>
    		<div class="navbar-nav">
    			<a th:href="@{/home}" class="nav-item nav-link">Home</a>
    			<a th:href="@{/profile/{username}(username=${#httpServletRequest.remoteUser})}" 
            		class="nav-item nav-link">Profile: [[${#httpServletRequest.remoteUser}]]</a>
            	<form th:action="@{/logout}" method="post">
            		<input type="submit" value="Sign Out" class="nav-item nav-link"/>
        		</form>
    		</div>	
    	</nav>
    	
    	<form th:object="${workoutform}" th:action="@{/saveworkoutedit/{id}(id=${workout.getId()})}" action="#" method="post">
    		<label for="date">Date (Format: dd.mm.yyyy)
    			<input type="text" id="date" th:field="*{date}" class="form-control" value="workoutform.date"/>
    		</label>
			<input type="submit" value="Change date" class="btn btn-outline-info btn-sm"></input>
    	</form>
    	
		<table class="table table-striped">
			  <tr>
			   	<th>Lift</th>
			   	<th>Variation and notes</th>
			   	<th>Sets</th>
			   	<th>Reps</th>
			   	<th>Weight</th>
			   	<th>Edit</th>
			   	<th>Delete</th>
			  </tr>
			  <tr th:each = "lift : ${workout.lifts}">
			   	<td th:text="${lift.liftType}"></td>
			   	<td th:text="${lift.notes}"></td>
			   	<td th:text="${lift.sets}"></td>
			   	<td th:text="${lift.reps}"></td>
			   	<td th:text="${lift.weight}+kg"></td>
			   	<td>
			   		<a th:href="@{../editlift/{id}(id=${lift.id})}" class="btn btn-outline-info btn-sm">Edit</a>
			   	</td>
			   	<td>
			   		<a th:href="@{../deletelift/{id}/{workoutId}(id=${lift.id},workoutId=${lift.getWorkout().getId()})}" class="btn btn-outline-danger btn-sm">Delete</a>
			   	</td>
			   </tr>
		</table>
		
        <a th:href="@{../addlift/{id}(id=${workout.getId()})}" class="btn btn-outline-success btn-sm">Add Lift</a>

        <div style="clear: both; display: block; height: 30px;"></div>

    </div>

    </body>
</html>